.page-class[b-avxv82e1dy] {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-div[b-avxv82e1dy] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
