.question-container[b-rum0sd1l97] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.clear[b-rum0sd1l97] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
    height: auto;
}
