@using Kviz.Shared
@using Kviz.Services
@using Kviz.Model

@page "/game/{sessionIdString}/{nickname}"
@layout MainLayout
@inject QuizService quizService
@implements IDisposable

@if (UniqueName)
{
    @if (!quizService.Sessions[sessionId].StartGame)
    {
        <h3>Waiting for host to start the game...</h3>
    }
    else
    {
        @if (!quizService.Sessions[sessionId].Closed)
        {
            @if (!quizService.Sessions[sessionId].CheckIfUserAlreadyAnswered(nickname!))
            {
                @if (@quizService.Sessions[sessionId].GetCurrentQuestion().Type == QuestionType.MultipleChoice)
                {
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text=@quizService.Sessions[sessionId].GetCurrentQuestion().Text class="rz-color-white"></RadzenText>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text=@quizService.Sessions[sessionId].TimeAsString class="rz-color-white"></RadzenText>

                        </RadzenStack>
                        @foreach (Answer answer in quizService.Sessions[sessionId].GetCurrentAnswers())
                        {
                            <RadzenButton Variant="Variant.Outlined" Text="@answer.Text" ButtonStyle="ButtonStyle.Secondary" class="rz-ripple" Style="margin: 10px;" Click="(() => OnAnswerSelect(answer))" />
                        }
                    </RadzenStack>
                }
                else if (@quizService.Sessions[sessionId].GetCurrentQuestion().Type == QuestionType.ShortAnswer)
                {
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text=@quizService.Sessions[sessionId].GetCurrentQuestion().Text class="rz-color-white"></RadzenText>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text=@quizService.Sessions[sessionId].TimeAsString class="rz-color-white"></RadzenText>

                        </RadzenStack>
                        <RadzenTextBox Placeholder="Type answer here..." Style="width: 90%" @bind-Value=@ShortAnswer />
                        <RadzenButton Variant="Variant.Outlined" Text="Submit" ButtonStyle="ButtonStyle.Secondary" class="rz-ripple" Style="margin: 10px;" Click="(() => OnShortAnswerSubmit(ShortAnswer))" />
                    </RadzenStack>
                }

            }
            else
            {
                <RadzenText class="rz-color-series-3" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="Waiting for other players..." ></RadzenText>
            }
        }    
        else
        {
            if (quizService.Sessions[sessionId].CheckIfUserAnsweredCorrectly(nickname!))
            {
                <RadzenText class="rz-color-series-3" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="Correct answer"></RadzenText>
            }
            else
            {
                <RadzenText class="rz-color-series-3" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="Incorrect answer"></RadzenText>
            }

        }
        

    }
}
else
{
    <h3>Your nickname must be unique</h3>
}



@code {
    [Parameter]
    public string? sessionIdString { get; set; }
    [Parameter]
    public string? nickname { get; set; }
    public int sessionId;
    bool ShowGame = true;
    bool Closed = false;
    bool UniqueName = false;
    string ShortAnswer = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        sessionId = Int32.Parse(sessionIdString!);
        if (quizService.Sessions[sessionId].CheckIfNewUser(nickname!))
        {
            UniqueName = true;
            quizService.Sessions[sessionId].AddUser(nickname!);
            if (!quizService.Sessions[sessionId].CheckIfFirstJoin(nickname!))
            {
                quizService.Sessions[sessionId].UserPoints.Add(nickname!, 0);
            }
        }

        quizService.Sessions[sessionId].UpdateEvent += async () => await InvokeAsync(() => Update());
        quizService.Sessions[sessionId].NextQuestionEvent += async () => await InvokeAsync(() => NextQuestion());
        quizService.Sessions[sessionId].RevealAnswerEvent += async () => await InvokeAsync(() => RevealAnswer());
        quizService.Sessions[sessionId].StartGameEvent += async () => await InvokeAsync(() => this.StateHasChanged());
        quizService.Sessions[sessionId].QuestionClosedEvent += async () => await InvokeAsync(() => this.StateHasChanged());
        quizService.Sessions[sessionId].TimerCountEvent += async () => await InvokeAsync(() => this.StateHasChanged());
        quizService.Sessions[sessionId].StateChangedEvent += async () => await InvokeAsync(() => this.StateHasChanged());
        await base.OnInitializedAsync();
    }

    void OnAnswerSelect(Answer answer)
    {
        quizService.Sessions[sessionId].AddToUserAnswers(answer, nickname!);
        quizService.Sessions[sessionId].AddToSubmittedAnswers(answer, nickname!);

    }
    void Update()
    {
        if (quizService.Sessions[sessionId].CheckIfUserAlreadyAnswered(nickname!))
        {
            this.StateHasChanged();
        }
    }
    void NextQuestion()
    {
        Closed = false;
        this.StateHasChanged();
    }
    void RevealAnswer()
    {
        Closed = true;
        this.StateHasChanged();
    }
    void OnShortAnswerSubmit(string text)
    {
        Answer answer = new Answer(text, quizService.Sessions[sessionId].GetCurrentQuestion().CheckIfAnswerIsCorrect(text));
        quizService.Sessions[sessionId].AddToUserAnswers(answer, nickname!);
        quizService.Sessions[sessionId].AddToSubmittedAnswers(answer, nickname!);
        
    }
    public void Dispose()
    {
        if (UniqueName)
        {
            quizService.Sessions[sessionId].RemoveUser(nickname!);
        }
    }

}
