@inherits LayoutComponentBase
<header><NavMenu/></header>

<main> @Body </main>

<style>
    body {
        margin: 0;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }

    main {
        margin: 0;
        padding: 0;
        height: 100%;
    }

</style>