@inherits LayoutComponentBase

<main> @Body </main>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(90deg, #212130 0%, #39304A 70%);
        height: 100%;
    }

    main {
        margin: 0;
        padding: 0;
        height: 100%;
    }
</style>