@layout Shared.CreatorMenuLayout
@page "/creator"
@inject NavigationManager Navigation

<div id="buttons-div">
    <RadzenButton Variant="Variant.Outlined" Text="Create new Quiz" ButtonStyle="ButtonStyle.Secondary" class="rz-ripple" Style="margin: 10px;" Click="(() => NavigateToEditor())" />
    <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Text="Create new account" class="rz-ripple rz-color-secondary" Style="margin: 10px" Click="(() => NavigateToEditor())" />
</div>

<style>
    #buttons-div {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>



@code {
    void NavigateToEditor()
    {
        Navigation.NavigateTo("/creator/editor");
    }
}
